<h2>Editez votre compte</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <div>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  </div>
  
  <div>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  </div>
  
  <div>
  <%= f.label :email %>
  <%= f.email_field :email %>
  </div>
  <div>
  <%= f.label :interests %>
  <%= f.text_field :interests %><i>(Avec ces informations, nous pourrons proposer à vos amis de nombreux cadeaux correspondants à vos attentes)</i>
  </div>
  
  <div><%= f.submit "Envoyer les modifications" %></div>


<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
