<h2>S'inscrire</h2>

<p>
  Attention : vous inscrire par ce biais (sans passer par Facebook) vous privent de fonctionnalités très sympathiques !
</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password, 'Mot de passe' %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, 'Retapez votre mot de passe' %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "S'inscrire", :class => 'nice small radius blue button'  %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
