%dl.nice.contained.tabs
  %dd= link_to "Accueil", "#home", :class => "active"
  %dd= link_to "Calendrier", "#calendar"
  %dd= link_to "Wishlist", "#wishlist"
  %dd= link_to "Friends", "#friends"

%ul.nice.tabs-content.contained
  %li.active#homeTab
    %ul
      %li= link_to "Editer mon profil", "#"
  %li#calendarTab
    %h5 
      Calendrier
      = render "home/calendar" 
  %li#wishlistTab
    %h5 
      Wishlist
      = render "home/wish" 
  %li#friendsTab
    %form
      %fieldset
        %p 
          Inviter vos amis sur Gift4YourFriends
        %input{:type => "text"} 
        %input{:type => "button", :value => "Inviter", :class => "invit nice small radius blue button"}
        = render "home/friend" 
