!!!
%html
  %head
    %title Toupoutou
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  %header
    .show-on-phones  
      %nav  
        = render "home/phone"
    - unless controller.controller_name == 'home'
      .show-on-desktops 
        %nav 
          %ul.topnav
            %li= link_to 'Tableau de bord', dashboard_path

            %li
              = link_to image_tag( 'inscription.png'), "#", :class => "edit"
              %br
              = link_to "Editer mon profil", "#"
                          
            %li
              = link_to image_tag( 'friends.png'), friends_path, :class => "friendsimg"
              %br
              = link_to "Amis", friends_path, :class => "amis"
              
  .container  
    = yield

  %footer
    
      
