!!!
%html
  %head
    %title Toupoutou
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %nav
        %ul.topnav
          %li= link_to 'facebok', user_omniauth_authorize_path(:facebook)
          %li Lien 2
          %li Lien 3
    = yield
      
